params {
   bams_list_path = "samples.crams.list"
   cram = true
   intervals = "../intervals/cds_intervals/*.list"
   reference_path = "hs38DH.fa"
   samtools = "samtools"
   max_depth = 8000 
   mpileup_subset = "mpileup_subset.py"
   bcftools = "bcftools"
   tabix = "tabix"
}

process {
// uncomment "slurm" when running on SLURM cluster. Change "queue" as needed.
   executor = "slurm"
//   executor = "local"

// specify when using SLURM
   queue = "queue-name"
   cpus = 1
   memory = "12 GB"
   time = "14d"
}

executor {
   $slurm {
      queueSize = 1000
      jobName = { "coverage" }
   }
   $local {
      cpus = 8 // set number of CPUs to use when running on a single machine
   }
}
