params {
   pairs_list_path = "example_pairs.list" 
   study1_files_list_path = "example_study1_files.list"
   study2_files_list_path = "example_study2_files.list"
   compare = "/full/path/to/compare.py"
}

process {
// uncomment "slurm" when running on SLURM cluster. Change "queue" as needed.
   executor = "slurm"
//   executor = "local"

// specify when using SLURM
   queue = "queue-name"
   cpus = 1
   time = "12h"
   memory = "16GB"
}

executor {
   $slurm {
      queueSize = 1000
      jobName = { "compare" }
   }
   $local {
      cpus = 22 // set number of CPUs to use when running on a single machine
   }
}
